<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FilterController</servlet-name>
        <servlet-class>controller.sync.FilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.sync.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.sync.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.sync.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.sync.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCardController</servlet-name>
        <servlet-class>controller.sync.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.sync.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartController</servlet-name>
        <servlet-class>controller.sync.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityController</servlet-name>
        <servlet-class>controller.sync.UpdateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.sync.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheEndController</servlet-name>
        <servlet-class>controller.sync.TheEndController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.sync.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.sync.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <servlet-class>controller.async.AddToCartAsyncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.sync.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductController</servlet-name>
        <servlet-class>controller.sync.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.sync.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.sync.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.sync.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowController</servlet-name>
        <servlet-class>controller.sync.BuyNowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.sync.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileController</servlet-name>
        <servlet-class>controller.sync.updateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrdersController</servlet-name>
        <servlet-class>controller.sync.HistoryOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeDetailController</servlet-name>
        <servlet-class>controller.sync.SeeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptOrderController</servlet-name>
        <servlet-class>controller.sync.AcceptOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountController</servlet-name>
        <servlet-class>controller.sync.ManagerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceFilterController</servlet-name>
        <servlet-class>controller.sync.PriceFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>controller.sync.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.sync.DeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterController</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCardController</servlet-name>
        <url-pattern>/add-to-card</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityController</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TheEndController</servlet-name>
        <url-pattern>/TheEnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <url-pattern>/add-to-cart-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductController</servlet-name>
        <url-pattern>/manager-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/update-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowController</servlet-name>
        <url-pattern>/buy-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileController</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrdersController</servlet-name>
        <url-pattern>/history-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeDetailController</servlet-name>
        <url-pattern>/see-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptOrderController</servlet-name>
        <url-pattern>/accept-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountController</servlet-name>
        <url-pattern>/manager-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceFilterController</servlet-name>
        <url-pattern>/price-filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/adlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/delete-account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
