USE [master]
GO
CREATE DATABASE [PRN211_Spr22]
GO
USE [PRN211_Spr22]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 15/06/2022 7:39:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[Dob] [date] NULL,
	[Phone] [varchar](15) NULL,
	[IDNumber] [varchar](12) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 15/06/2022 7:39:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Title] [varchar](10) NOT NULL,
	[Square] [tinyint] NULL,
	[Floor] [tinyint] NULL,
	[Description] [ntext] NULL,
	[Comment] [ntext] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 15/06/2022 7:39:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomTitle] [varchar](10) NULL,
	[Month] [tinyint] NULL,
	[Year] [int] NULL,
	[FeeType] [nvarchar](50) NULL,
	[Amount] [money] NULL,
	[PaymentDate] [date] NULL,
	[Employee] [int] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Gender], [Dob], [Phone], [IDNumber]) VALUES (1, N'Bùi Ngọc Huyền', N'Female', CAST(N'1993-11-04' AS Date), N'0977800234', N'035184000209')
INSERT [dbo].[Employees] ([Id], [Name], [Gender], [Dob], [Phone], [IDNumber]) VALUES (2, N'Nguyễn Thu Thảo', N'Female', CAST(N'1988-09-05' AS Date), N'0904253601', N'011218982101')
INSERT [dbo].[Employees] ([Id], [Name], [Gender], [Dob], [Phone], [IDNumber]) VALUES (3, N'Trần Nam Anh', N'Male', CAST(N'1987-02-17' AS Date), N'0972481765', N'012912199129')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
INSERT [dbo].[Rooms] ([Title], [Square], [Floor], [Description], [Comment]) VALUES (N'401', 133, 4, N'Căn hộ 01 - Tầng 4', NULL)
INSERT [dbo].[Rooms] ([Title], [Square], [Floor], [Description], [Comment]) VALUES (N'402', 138, 4, N'Căn hộ 02 - Tầng 4', NULL)
INSERT [dbo].[Rooms] ([Title], [Square], [Floor], [Description], [Comment]) VALUES (N'403', 154, 4, N'Căn hộ 03 - Tầng 4', NULL)
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [RoomTitle], [Month], [Year], [FeeType], [Amount], [PaymentDate], [Employee]) VALUES (1, N'401', 1, 2022, N'ManagementFee', 1596000.0000, CAST(N'2022-01-10' AS Date), 1)
INSERT [dbo].[Services] ([Id], [RoomTitle], [Month], [Year], [FeeType], [Amount], [PaymentDate], [Employee]) VALUES (2, N'402', 1, 2022, N'ManagementFee', 1656000.0000, NULL, NULL)
INSERT [dbo].[Services] ([Id], [RoomTitle], [Month], [Year], [FeeType], [Amount], [PaymentDate], [Employee]) VALUES (3, N'403', 1, 2022, N'ManagementFee', 1848000.0000, CAST(N'2022-01-08' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Employees] FOREIGN KEY([Employee])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Employees]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Rooms] FOREIGN KEY([RoomTitle])
REFERENCES [dbo].[Rooms] ([Title])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Rooms]
GO
